body {
	font-family: sans-serif;
}

header, footer {
	text-align: center;
}

footer {
	margin-top: 20px;
}

main {
	display: flex;
	justify-content: center;
}

#options {
	width: 25%;
	margin-left: 3%;
}

#options>div {
	font-size: smaller;
	margin: 20px auto;
}

div.sync-option>input[type="number"] {
	float: right;
	width: 7em;
}

div.sync-option>input[type="range"] {
	width: 100%;
	margin-top: 10px;
}

.variable {
	font-style: italic;
}

.vector {
	font-style: italic;
	font-weight: bold;
}
